@media(max-width: 1300px) {
    .container {
        flex-direction: column;
        box-shadow: none;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .form{
        width: 90%;
    }

    .form .grupo{
        text-align: center;
        flex-wrap: wrap;
    }

    .form_image{
        width: 90%;
    }

}

@media(max-width: 890px) {

    .container{
        margin-top: 10%;
    }

    table th{
        padding: 0px;
    }
}

@media(max-width: 768px) {
table{
    margin-top: 100px;
}